.header
{
    text-align: center;
    background: whitesmoke;
}
.left
{
    width: 120px;
    float: left;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin-inside: 20px;
    margin-right: 10px;
}
.menu li
{

    font-size: 1.3em;
    color: firebrick;
    padding: 5px;
    text-align: right;

}
.menu li:hover
{
    background: lightcoral;
    color: white;
    border: 2px solid lightcoral;
    text-align: left;
}
.right
{
    text-align: left;
    background: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin-left: 140px;
}
.footer
{
    margin-left: 140px;
}